$dark-fontColor: white;
$dark-bgColor: rgb(32, 28, 28);
$light-fontColor: black;
$light-bgColor: antiquewhite;
$active: rgb(255, 94, 0);
$activeSec: rgb(135, 52, 4);
$design: lighten(
  $color: $active,
  $amount: 30,
);
$tab-breakpoint: 820px;
$tabl-breakpoint: 1040px;
$mobile-breakpoint: 760px;

@font-face {
  font-family: "prompt";
  src: url("prompt-font/Prompt-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: prompt, sans-serif;
  background-color: $dark-bgColor;
  font-size: 16px;
  color: $dark-fontColor;
}
h1 {
  margin: 5px 0;
}

p {
  line-height: 3em;
}

a {
  text-decoration: none;
  color: inherit;
}
.icon {
  width: 30px;
}
img {
  width: 100%;
}
section.navbar {
  padding: 0.5em 2em;
  // display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
  @media (max-width: $tabl-breakpoint) {
    display: flex;
    position: fixed;
    background: $dark-bgColor;
    width: 100%;
    z-index: 2;
  }
  .menuIcon {
    cursor: pointer;
    svg {
      width: 32px;
      height: 32px;
      &:hover {
        fill: $active;
      }
    }
  }
  .theme {
    transition: 0.5s ease-in-out rotate;
    transform-origin: center;
    cursor: pointer;

    svg {
      fill: white;
      width: 48px;
    }
  }
}

.closeIcon {
  display: none;
  width: 24px;
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
  // &:hover
  @media (max-width: $tabl-breakpoint) {
    display: block;
  }
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  // grid-template-columns: 2fr 5fr;
  & > div {
    padding: 4em 2em;
  }
  @media (max-width: $tab-breakpoint) {
  }
}

.sideMenu {
  position: fixed;
  height: 100vh;
  width: 15em;
  display: flex;
  flex-direction: column;
  background-color: lighten($color: $dark-bgColor, $amount: 30);
  z-index: 3;
  .nameLogo {
    display: flex;
    justify-content: center;
  }
  .menu {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  ul {
    width: 100%;
    display: grid;
    gap: 2em;
    padding: 0;
  }
  li {
    gap: 1em;
    list-style: none;
    border-bottom: 2px solid #ffbf99;
    padding-bottom: 10px;
    cursor: pointer;
    line-height: 2em;
    display: flex;
    padding-left: 2em;
    &.active {
      color: $active;
    }
  }
  i {
    margin-right: 1em;
    display: inline-block;
    width: 20px;
    height: 20px;
    img {
      width: 100%;
    }
  }
  @media (max-width: $tabl-breakpoint) {
    right: 100%;
    transition: all 0.5s ease-in-out;
    left: -15em;
    &.slide-out {
      left: -15em;
    }
    &.slide-in {
      left: 0;
    }
  }
}

.mainContentContainer {
  height: 100vh;
  margin-left: 15em;
  overflow-x: hidden;
  // transition: all ease-in-out 0.5s;
  @media (max-width: $tabl-breakpoint) {
    margin-left: 0;
  }
}
.mainContent.home {
  right: 20px;
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
  .textContent {
    flex-grow: 1;
    span {
      color: $active;
    }
  }
  .imageProfile {
    margin-top: 2em;
    // flex-basis: 50em;

    img {
      width: 300px;
    }
  }
  &.oldPage {
    z-index: -1;
  }
  @media (max-width: $tab-breakpoint) {
    flex-flow: column-reverse;
  }
}

.heading {
  margin: 12px;
  hr {
    width: 10em;
    height: 5px;
    border: none;
    background-color: $active;
    margin-top: 5px;
    border-radius: 2px;
    &#bottom {
      width: 5em;
    }
  }
}

.mainContent.about {
  .textContent {
    display: grid;
    gap: 2em;
  }
  .personalInfo {
    display: flex;
    gap: 2em;
    .info {
      flex-basis: 50%;
      flex-grow: 2;
      display: grid;
      gap: 2em;
    }
    .progresses {
      flex-grow: 6;
      display: grid;
      gap: 2em;
    }
    @media (max-width: $tab-breakpoint) {
      flex-flow: column-reverse;
    }
  }
  .details {
    display: flex;
    gap: 5px;
    & > span {
      display: grid;
      grid-template-columns: 1fr 2fr;
      flex: 1;
      & > span {
        border-bottom: 1px solid gray;
        padding: 10px 5px 10px 0;
      }
    }
    .label {
      color: $active;
    }
    .content {
      color: rgb(206, 196, 196);
    }
    @media (max-width: $mobile-breakpoint) {
      flex-flow: column;
    }
  }

  .buttons {
    display: flex;
    // gap: 6em;
    justify-content: space-evenly;
    // width: 70%;
    button {
      padding: 0.7em 2em;
      border: none;
      background-color: $active;
      border-radius: 2em;
      color: $dark-fontColor;
      font-size: 1.2rem;
      cursor: pointer;
      // transform: scaleX(1.3);
    }
  }
  .educations {
    .content {
      background-color: lighten($color: $dark-bgColor, $amount: 10);
      border-radius: 1em;
      padding: 2em 1em;
      display: grid;
      height: min-content;
      grid-template-columns: 20px 1fr;
      // grid-template-rows: repeat(4, 15em);
      margin-bottom: 2em;
      img {
        width: 30px;
        fill: white;
      }
      .bars {
        grid-row: 1 / span 4;
        display: grid;
        align-items: center;
        position: relative;
        hr {
          height: 100%;
          background-color: $active;
          width: 5px;
          position: absolute;
          border: none;
          border-radius: 5px;
        }
        div {
          height: 20px;
          width: 20px;
          background-color: $active;
          align-self: start;
          position: relative;
          right: 7px;
          border-radius: 50%;
        }
      }
    }
    .year {
      display: flex;
      align-items: center;
      gap: 1em;
      i {
        display: inline-block;
        height: min-content;
      }
    }
  }
}

.mainContent.servicePage {
  p {
    line-height: unset;
  }
  .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    .service {
      display: grid;
      gap: 1em;
      .icon {
        display: flex;
        width: 100%;
        gap: 1em;
        align-items: center;
      }
      svg,
      img {
        width: 64px;
        height: 64px;
      }
      box-shadow: 1px 1px 1px 1px gray;
      background-color: lighten($active, 15);
      padding: 1em;
      border-radius: 8px;
    }
    @media (max-width: 880px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
.mainContent.portfolio {
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    @media (max-width: $tab-breakpoint) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .service {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    gap: 1em 2em;
    transition: scale 0.1s linear;
    scale: 1;
    background-color: lighten($active, 10);
    padding: 1em;
    border-radius: 1em;
    height: 100%;
    &:hover {
      scale: 1.1;
    }
    p {
      grid-column: span 2;
      line-height: normal;
    }
    .icon {
      width: unset;
    }
  }
  @media (max-width: $tab-breakpoint) {
  }
}
.mainContent.contact {
  svg {
    fill: $active;
    color: $active;
    width: 48px;
    height: 48px;
  }
  .bodyContent,
  .textContent {
    display: grid;
    gap: 2em;
  }
  .bodyContent {
    display: grid;
    justify-items: center;
    text-align: center;
    .contactList {
      display: flex;
      gap: 1em;
      .contact {
        flex: 1;
        display: grid;
        gap: 0.5em;
        border-radius: 1em;
        padding: 1em;
        cursor: pointer;
        &:hover {
          box-shadow: 2px 4px 8px 2px $active;
        }
        &:active {
          scale: 0.9;
        }

        span:nth-child(3) {
          font-size: 12px;
        }
        span:nth-child(2) {
          font-size: 1.5em;
        }
      }
    }
  }
  section.emailMe {
    display: grid;
  }
}
