:root {
  --fontColor: rgb(237, 247, 237);
  --bgColor: rgb(8, 38, 17);
  --bgSec: rgb(4, 72, 25);
  --theme: rgb(21, 108, 48);
  --themeDup: rgb(21, 108, 48);
  --themeSec: rgb(196, 238, 209);
  --active: rgb(133 255 171);
}

$tab-breakpoint: 820px;
$tabl-breakpoint: 1040px;
$mobile-breakpoint: 760px;

@font-face {
  font-family: "prompt";
  src: url("prompt-font/Prompt-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: prompt, sans-serif;
  background-color: var(--bgColor);
  font-size: 16px;
  color: var(--fontColor);
}
h1 {
  margin: 5px 0;
}

p {
  line-height: 3em;
}

a {
  text-decoration: none;
  color: inherit;
}
.icon {
  width: 30px;
}
img {
  width: 100%;
}
section.navbar {
  padding: 0.5em 2em;
  // display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
  @media (max-width: $tabl-breakpoint) {
    display: flex;
    position: fixed;
    background: var(--bgSec);
    width: 100%;
    z-index: 2;
  }
  .menuIcon {
    cursor: pointer;
    svg {
      width: 32px;
      height: 32px;
      &:hover {
        fill: var(--theme);
      }
    }
  }
  .theme {
    transition: 0.5s ease-in-out rotate;
    transform-origin: center;
    cursor: pointer;

    svg {
      fill: white;
      width: 48px;
    }
  }
}

.closeIcon {
  display: none;
  width: 24px;
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
  // &:hover
  @media (max-width: $tabl-breakpoint) {
    display: block;
  }
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  // grid-template-columns: 2fr 5fr;
  & > div {
    padding: 4em 2em;
  }
  @media (max-width: $tab-breakpoint) {
  }
  .loadingIcon {
    display: none;
    position: absolute;
    width: 97vw;
    height: 97vh;
    background-color: rgb(22 22 22 / 56%);
    // display: grid;
    z-index: 5;
    place-content: center;
    svg {
      animation: spin 1.5s linear infinite;
      width: 100px;
      height: 100px;
      fill: var(--theme);
    }
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.sideMenu {
  position: fixed;
  height: 100vh;
  width: 15em;
  display: flex;
  flex-direction: column;
  background-color: var(--bgSec);
  z-index: 3;
  .nameLogo {
    display: flex;
    justify-content: center;
  }
  .menu {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  ul {
    width: 100%;
    display: grid;
    gap: 2em;
    padding: 0;
  }
  li {
    gap: 1em;
    list-style: none;
    border-bottom: 2px solid #ffbf99;
    padding-bottom: 10px;
    cursor: pointer;
    line-height: 2em;
    display: flex;
    padding-left: 2em;
    &.active {
      color: var(--active);
    }
  }
  i {
    margin-right: 1em;
    display: inline-block;
    width: 20px;
    height: 20px;
    img {
      width: 100%;
    }
  }
  @media (max-width: $tabl-breakpoint) {
    right: 100%;
    transition: all 0.5s ease-in-out;
    left: -15em;
    &.slide-out {
      left: -15em;
    }
    &.slide-in {
      left: 0;
    }
  }
  button {
    padding: 0.3em 1em;
    background-color: var(--bgSec);
    color: var(--active);
    border: 2px var(--theme);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: var(--themeDup);
      color: var(--active);
    }
    @media (max-width: $tabl-breakpoint) {
      display: none;
    }
  }
}

.mainContentContainer {
  height: 100vh;
  margin-left: 15em;
  overflow-x: hidden;
  // transition: all ease-in-out 0.5s;
  @media (max-width: $tabl-breakpoint) {
    margin-left: 0;
  }
}
.mainContent.home {
  right: 20px;
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
  .textContent {
    flex-grow: 1;
    span {
      color: var(--active);
    }
  }
  .imageProfile {
    margin-top: 2em;
    // flex-basis: 50em;

    img {
      width: 300px;
    }
  }
  &.oldPage {
    z-index: -1;
  }
  @media (max-width: $tab-breakpoint) {
    flex-flow: column-reverse;
  }
}

.heading {
  margin: 12px;
  hr {
    width: 10em;
    height: 5px;
    border: none;
    background-color: var(--theme);
    margin-top: 5px;
    border-radius: 2px;
    &#bottom {
      width: 5em;
    }
  }
}

.mainContent.about {
  .textContent {
    display: grid;
    gap: 2em;
  }
  .personalInfo {
    display: flex;
    gap: 2em;
    .info {
      flex-basis: 50%;
      flex-grow: 2;
      display: grid;
      gap: 2em;
    }
    .progresses {
      flex-grow: 6;
      display: grid;
      gap: 2em;
    }
    @media (max-width: $tab-breakpoint) {
      flex-flow: column-reverse;
    }
  }
  .details {
    display: flex;
    gap: 5px;
    & > span {
      display: grid;
      grid-template-columns: 1fr 2fr;
      flex: 1;
      & > span {
        border-bottom: 1px solid gray;
        padding: 10px 5px 10px 0;
      }
    }
    .label {
      color: var(--theme);
    }
    .content {
      color: rgb(45, 133, 58);
    }
    @media (max-width: $mobile-breakpoint) {
      flex-flow: column;
    }
  }

  .buttons {
    display: flex;
    // gap: 6em;
    justify-content: space-evenly;
    // width: 70%;
    button {
      padding: 0.7em 2em;
      border: none;
      background-color: var(--themeSec);
      border-radius: 2em;
      color: rgb(8, 38, 17);
      font-size: 1.2rem;
      cursor: pointer;
      // transform: scaleX(1.3);
    }
  }
  .educations {
    .content {
      background-color: var(--bgSec);
      border-radius: 1em;
      padding: 2em 1em;
      display: grid;
      height: min-content;
      grid-template-columns: 20px 1fr;
      // grid-template-rows: repeat(4, 15em);
      margin-bottom: 2em;
      img {
        width: 30px;
        fill: white;
      }
      .bars {
        grid-row: 1 / span 4;
        display: grid;
        align-items: center;
        position: relative;
        hr {
          height: 100%;
          background-color: var(--theme);
          width: 5px;
          position: absolute;
          border: none;
          border-radius: 5px;
        }
        div {
          height: 20px;
          width: 20px;
          background-color: var(--theme);
          align-self: start;
          position: relative;
          right: 7px;
          border-radius: 50%;
        }
      }
    }
    .year {
      display: flex;
      align-items: center;
      gap: 1em;
      i {
        display: inline-block;
        height: min-content;
      }
    }
  }
}

.mainContent.servicePage {
  p {
    line-height: unset;
  }
  .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    .service {
      display: grid;
      gap: 1em;
      box-shadow: 1px 1px 1px 1px gray;
      background-color: var(--themeDup);
      padding: 1em;
      border-radius: 8px;
      .icon {
        display: flex;
        width: 100%;
        gap: 1em;
        align-items: center;
      }
      svg,
      img {
        width: 64px;
        height: 64px;
      }
    }
    @media (max-width: 880px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
.mainContent.portfolio {
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    @media (max-width: $tab-breakpoint) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .service {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    gap: 1em 2em;
    transition: scale 0.1s linear;
    scale: 1;
    background-color: var(--themeDup);
    padding: 1em;
    border-radius: 1em;
    height: 100%;
    &:hover {
      scale: 1.1;
    }
    p {
      grid-column: span 2;
      line-height: normal;
    }
    .icon {
      width: unset;
    }
  }
  @media (max-width: $tab-breakpoint) {
  }
}
.mainContent.contact {
  svg {
    fill: var(--themeSec);
    color: transparent;
    width: 48px;
    height: 48px;
  }
  .bodyContent,
  .textContent {
    display: grid;
    gap: 2em;
  }
  .bodyContent {
    display: grid;
    justify-items: center;
    text-align: center;
    .contactList {
      display: flex;
      gap: 1em;
      @media (max-width: $tab-breakpoint) {
        display: grid;
      }
      .contact {
        a {
          flex: 1;
          display: grid;
          gap: 0.5em;
        }
        flex: 1;
        display: grid;
        gap: 0.5em;
        border-radius: 1em;
        padding: 1em;
        transform-origin: left;
        transform: translateY(0);
        transition: transform 0.2s linear;
        cursor: pointer;
        &:hover {
          transform: translateY(-1em);
          box-shadow: 2px 4px 8px 2px var(--theme);
          svg {
            fill: var(--active);
          }
        }
        &:active {
          scale: 0.9;
        }

        span:nth-child(3) {
          font-size: 12px;
        }
        span:nth-child(2) {
          font-size: 1.5em;
        }
      }
    }
  }
  section.popup {
    display: grid;
    justify-content: center;
    position: relative;
    .status {
      display: none;
      border: 2px solid rgb(5, 85, 5);
      width: max-content;
      padding: 0.5em 2em;
      border-radius: 8px;
      background-color: rgb(129, 201, 129);
      color: rgb(24, 38, 24);
      position: absolute;
      translate: 50%;
      right: 50%;
      top: -2.5em;
      transition: top linear 500ms;
    }
    .popupContainer {
      position: relative;
      display: none;
      i {
        position: absolute;
        right: 4em;
        top: 0.5em;
        z-index: 1;
        cursor: pointer;
        &:hover {
          svg {
            fill: red;
          }
        }
      }
      section.emailMe {
        display: none;
        background-color: var(--dark)-bgColor;
        box-shadow: 3px 2px 5px 5px var(--theme);
        padding: 1em;
        border-radius: 1em;
        gap: 1em;
        form {
          display: grid;
          grid-template-columns: 2fr 3fr;
          gap: 1em;
          label[for="senderSubject"],
          textarea {
            grid-column: span 2;
            font-size: 1.1em;
          }
          button {
            padding: 8px 1em;
            border: 4px solid var(--theme);
            // border: none;
            border-radius: 8px;
            color: white;
            // align-self: center;
            grid-column: span 2;
            width: 40%;
            background-color: var(--theme);
            font-size: 1.3em;
            place-self: center;
            &.success {
              border-color: green;
              background-color: rgb(129, 201, 129);
            }
            &.error {
              border-color: red;
              background-color: rgb(255, 100, 100);
            }
            &.active:hover {
              background-color: #726363;
              border-color: var(--theme);
            }
            &.no-hover:hover {
              // background-color: transparent;
              // border-color: transparent;
            }
            img {
              width: 48px;
              height: 48px;
            }
          }
          input {
            width: 100%;
            padding: 8px 16px;
            font-size: 1.1em;
            border-radius: 8px;
            border: none;
          }
        }
      }

      .mapContainer {
        display: none;
        position: relative;
        border: 2px solid --themeSec;
        background-color: rgb(146, 146, 146);
        height: 75vh;

        #map {
          width: 75vw;
          height: 80vh;
        }
      }
    }
  }
}
