:root {
  --fontColor: rgb(237, 247, 237);
  --bgColor: rgb(8, 38, 17);
  --bgSec: rgb(4, 72, 25);
  --theme: rgb(21, 108, 48);
  --themeSec: rgb(196, 238, 209);
  --active: rgb(133 255 171);
}

@font-face {
  font-family: "prompt";
  src: url("prompt-font/Prompt-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: prompt, sans-serif;
  background-color: var(--bgColor);
  font-size: 16px;
  color: var(--fontColor);
}

h1 {
  margin: 5px 0;
}

p {
  line-height: 3em;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  width: 30px;
}

img {
  width: 100%;
}

section.navbar {
  padding: 0.5em 2em;
  align-items: center;
  justify-content: space-between;
  display: none;
}
@media (max-width: 1040px) {
  section.navbar {
    display: flex;
    position: fixed;
    background: var(--bgSec);
    width: 100%;
    z-index: 2;
  }
}
section.navbar .menuIcon {
  cursor: pointer;
}
section.navbar .menuIcon svg {
  width: 32px;
  height: 32px;
}
section.navbar .menuIcon svg:hover {
  fill: var(--theme);
}
section.navbar .theme {
  transition: 0.5s ease-in-out rotate;
  transform-origin: center;
  cursor: pointer;
}
section.navbar .theme svg {
  fill: white;
  width: 48px;
}

.closeIcon {
  display: none;
  width: 24px;
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
}
@media (max-width: 1040px) {
  .closeIcon {
    display: block;
  }
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
}
.mainContainer > div {
  padding: 4em 2em;
}
.mainContainer .loadingIcon {
  display: none;
  position: absolute;
  width: 97vw;
  height: 97vh;
  background-color: rgba(22, 22, 22, 0.56);
  z-index: 5;
  place-content: center;
}
.mainContainer .loadingIcon svg {
  animation: spin 1.5s linear infinite;
  width: 100px;
  height: 100px;
  fill: var(--theme);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sideMenu {
  position: fixed;
  height: 100vh;
  width: 15em;
  display: flex;
  flex-direction: column;
  background-color: var(--bgSec);
  z-index: 3;
}
.sideMenu .nameLogo {
  display: flex;
  justify-content: center;
}
.sideMenu .menu {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.sideMenu ul {
  width: 100%;
  display: grid;
  gap: 2em;
  padding: 0;
}
.sideMenu li {
  gap: 1em;
  list-style: none;
  border-bottom: 2px solid #ffbf99;
  padding-bottom: 10px;
  cursor: pointer;
  line-height: 2em;
  display: flex;
  padding-left: 2em;
}
.sideMenu li.active {
  color: var(--active);
}
.sideMenu i {
  margin-right: 1em;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.sideMenu i img {
  width: 100%;
}
@media (max-width: 1040px) {
  .sideMenu {
    right: 100%;
    transition: all 0.5s ease-in-out;
    left: -15em;
  }
  .sideMenu.slide-out {
    left: -15em;
  }
  .sideMenu.slide-in {
    left: 0;
  }
}

.mainContentContainer {
  height: 100vh;
  margin-left: 15em;
  overflow-x: hidden;
}
@media (max-width: 1040px) {
  .mainContentContainer {
    margin-left: 0;
  }
}

.mainContent.home {
  right: 20px;
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
.mainContent.home .textContent {
  flex-grow: 1;
}
.mainContent.home .textContent span {
  color: var(--active);
}
.mainContent.home .imageProfile {
  margin-top: 2em;
}
.mainContent.home .imageProfile img {
  width: 300px;
}
.mainContent.home.oldPage {
  z-index: -1;
}
@media (max-width: 820px) {
  .mainContent.home {
    flex-flow: column-reverse;
  }
}

.heading {
  margin: 12px;
}
.heading hr {
  width: 10em;
  height: 5px;
  border: none;
  background-color: var(--theme);
  margin-top: 5px;
  border-radius: 2px;
}
.heading hr#bottom {
  width: 5em;
}

.mainContent.about .textContent {
  display: grid;
  gap: 2em;
}
.mainContent.about .personalInfo {
  display: flex;
  gap: 2em;
}
.mainContent.about .personalInfo .info {
  flex-basis: 50%;
  flex-grow: 2;
  display: grid;
  gap: 2em;
}
.mainContent.about .personalInfo .progresses {
  flex-grow: 6;
  display: grid;
  gap: 2em;
}
@media (max-width: 820px) {
  .mainContent.about .personalInfo {
    flex-flow: column-reverse;
  }
}
.mainContent.about .details {
  display: flex;
  gap: 5px;
}
.mainContent.about .details > span {
  display: grid;
  grid-template-columns: 1fr 2fr;
  flex: 1;
}
.mainContent.about .details > span > span {
  border-bottom: 1px solid gray;
  padding: 10px 5px 10px 0;
}
.mainContent.about .details .label {
  color: var(--theme);
}
.mainContent.about .details .content {
  color: rgb(206, 196, 196);
}
@media (max-width: 760px) {
  .mainContent.about .details {
    flex-flow: column;
  }
}
.mainContent.about .buttons {
  display: flex;
  justify-content: space-evenly;
}
.mainContent.about .buttons button {
  padding: 0.7em 2em;
  border: none;
  background-color: var(--theme);
  border-radius: 2em;
  color: var(--dark) -fontColor;
  font-size: 1.2rem;
  cursor: pointer;
}
.mainContent.about .educations .content {
  background-color: var(--bgSec);
  border-radius: 1em;
  padding: 2em 1em;
  display: grid;
  height: -moz-min-content;
  height: min-content;
  grid-template-columns: 20px 1fr;
  margin-bottom: 2em;
}
.mainContent.about .educations .content img {
  width: 30px;
  fill: white;
}
.mainContent.about .educations .content .bars {
  grid-row: 1/span 4;
  display: grid;
  align-items: center;
  position: relative;
}
.mainContent.about .educations .content .bars hr {
  height: 100%;
  background-color: var(--theme);
  width: 5px;
  position: absolute;
  border: none;
  border-radius: 5px;
}
.mainContent.about .educations .content .bars div {
  height: 20px;
  width: 20px;
  background-color: var(--theme);
  align-self: start;
  position: relative;
  right: 7px;
  border-radius: 50%;
}
.mainContent.about .educations .year {
  display: flex;
  align-items: center;
  gap: 1em;
}
.mainContent.about .educations .year i {
  display: inline-block;
  height: -moz-min-content;
  height: min-content;
}

.mainContent.servicePage p {
  line-height: unset;
}
.mainContent.servicePage .services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}
.mainContent.servicePage .services .service {
  display: grid;
  gap: 1em;
  box-shadow: 1px 1px 1px 1px gray;
  background-color: var(--theme);
  padding: 1em;
  border-radius: 8px;
}
.mainContent.servicePage .services .service .icon {
  display: flex;
  width: 100%;
  gap: 1em;
  align-items: center;
}
.mainContent.servicePage .services .service svg,
.mainContent.servicePage .services .service img {
  width: 64px;
  height: 64px;
}
@media (max-width: 880px) {
  .mainContent.servicePage .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .mainContent.servicePage .services {
    grid-template-columns: repeat(1, 1fr);
  }
}

.mainContent.portfolio .services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}
@media (max-width: 820px) {
  .mainContent.portfolio .services {
    grid-template-columns: repeat(1, 1fr);
  }
}
.mainContent.portfolio .service {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  gap: 1em 2em;
  transition: scale 0.1s linear;
  scale: 1;
  background-color: var(--theme);
  padding: 1em;
  border-radius: 1em;
  height: 100%;
}
.mainContent.portfolio .service:hover {
  scale: 1.1;
}
.mainContent.portfolio .service p {
  grid-column: span 2;
  line-height: normal;
}
.mainContent.portfolio .service .icon {
  width: unset;
}
.mainContent.contact svg {
  fill: var(--theme);
  color: transparent;
  width: 48px;
  height: 48px;
}
.mainContent.contact .bodyContent,
.mainContent.contact .textContent {
  display: grid;
  gap: 2em;
}
.mainContent.contact .bodyContent {
  display: grid;
  justify-items: center;
  text-align: center;
}
.mainContent.contact .bodyContent .contactList {
  display: flex;
  gap: 1em;
}
@media (max-width: 820px) {
  .mainContent.contact .bodyContent .contactList {
    display: grid;
  }
}
.mainContent.contact .bodyContent .contactList .contact {
  flex: 1;
  display: grid;
  gap: 0.5em;
  border-radius: 1em;
  padding: 1em;
  transform-origin: left;
  transform: translateY(0);
  transition: transform 0.2s linear;
  cursor: pointer;
}
.mainContent.contact .bodyContent .contactList .contact a {
  flex: 1;
  display: grid;
  gap: 0.5em;
}
.mainContent.contact .bodyContent .contactList .contact:hover {
  transform: translateY(-1em);
  box-shadow: 2px 4px 8px 2px var(--theme);
}
.mainContent.contact .bodyContent .contactList .contact:hover svg {
  fill: var(--active);
}
.mainContent.contact .bodyContent .contactList .contact:active {
  scale: 0.9;
}
.mainContent.contact .bodyContent .contactList .contact span:nth-child(3) {
  font-size: 12px;
}
.mainContent.contact .bodyContent .contactList .contact span:nth-child(2) {
  font-size: 1.5em;
}
.mainContent.contact section.popup {
  display: grid;
  justify-content: center;
  position: relative;
}
.mainContent.contact section.popup .status {
  display: none;
  border: 2px solid rgb(5, 85, 5);
  width: -moz-max-content;
  width: max-content;
  padding: 0.5em 2em;
  border-radius: 8px;
  background-color: rgb(129, 201, 129);
  color: rgb(24, 38, 24);
  position: absolute;
  translate: 50%;
  right: 50%;
  top: -2.5em;
  transition: top linear 500ms;
}
.mainContent.contact section.popup .popupContainer {
  position: relative;
  display: none;
}
.mainContent.contact section.popup .popupContainer i {
  position: absolute;
  right: 4em;
  top: 0.5em;
  z-index: 1;
  cursor: pointer;
}
.mainContent.contact section.popup .popupContainer i:hover svg {
  fill: red;
}
.mainContent.contact section.popup .popupContainer section.emailMe {
  display: none;
  background-color: var(--dark) -bgColor;
  box-shadow: 3px 2px 5px 5px var(--theme);
  padding: 1em;
  border-radius: 1em;
  gap: 1em;
}
.mainContent.contact section.popup .popupContainer section.emailMe form {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1em;
}
.mainContent.contact section.popup .popupContainer section.emailMe form label[for=senderSubject],
.mainContent.contact section.popup .popupContainer section.emailMe form textarea {
  grid-column: span 2;
  font-size: 1.1em;
}
.mainContent.contact section.popup .popupContainer section.emailMe form button {
  padding: 8px 1em;
  border: 4px solid var(--theme);
  border-radius: 8px;
  color: white;
  grid-column: span 2;
  width: 40%;
  background-color: var(--theme);
  font-size: 1.3em;
  place-self: center;
}
.mainContent.contact section.popup .popupContainer section.emailMe form button.success {
  border-color: green;
  background-color: rgb(129, 201, 129);
}
.mainContent.contact section.popup .popupContainer section.emailMe form button.error {
  border-color: red;
  background-color: rgb(255, 100, 100);
}
.mainContent.contact section.popup .popupContainer section.emailMe form button.active:hover {
  background-color: #726363;
  border-color: var(--theme);
}
.mainContent.contact section.popup .popupContainer section.emailMe form button img {
  width: 48px;
  height: 48px;
}
.mainContent.contact section.popup .popupContainer section.emailMe form input {
  width: 100%;
  padding: 8px 16px;
  font-size: 1.1em;
  border-radius: 8px;
  border: none;
}
.mainContent.contact section.popup .popupContainer .mapContainer {
  display: none;
  position: relative;
  border: 2px solid --themeSec;
  background-color: rgb(146, 146, 146);
  height: 75vh;
}
.mainContent.contact section.popup .popupContainer .mapContainer #map {
  width: 75vw;
  height: 80vh;
}/*# sourceMappingURL=style.css.map */